body{
    margin:0;
    padding:0;
    background-color: #ffff3d;

}

#hp{
    padding: 5px 10px;
    border: 1px solid black;
    margin-left: 15px;
    margin-top: 50px;
    width: 10%;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.6s;

}

#ms{
    padding: 5px 10px;
    border: 1px solid black;
    margin-left: 15px;
    margin-top: 10px;
    width: 10%;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.6s;
}

#mt{
    padding: 5px 10px;
    border: 1px solid black;
    margin-left: 15px;
    margin-top: 10px;
    width: 10%;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.6s;
}

#lk{
    padding: 5px 10px;
    border: 1px solid black;
    margin-left: 15px;
    margin-top: 10px;
    width: 10%;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.6s;


}

#hp:hover, #ms:hover, #mt:hover, #lk:hover{

    color:rgb(122, 189, 16);
    

}

.button {

    position:absolute;
}

#heading{
    margin-left: 200px;
    margin-top: -180px;
    color:#c200c2;
}


